ul {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

li {
  width: fit-content;
  margin: 1ch;
  padding: 1ch;
  border: 0.1ch solid black;
  border-radius: 1ch;
}

dt {
  font-weight: bold;
}
